@font-face {
  font-family: "Revise";
  src: url("fontes/Ravise-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Simple";
  src: url("fontes/Asectica Simple Demo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tequilla";
  src: url("fontes/Tequilla Sunrise.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Stay";
  src: url("fontes/Stay\ and\ Shine.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 550px;
  min-width: 960px;
  height: 550px;
  background-image: linear-gradient(to top, #f26d50, #fc5853, #e55695);
}

.conteiner1 {
  background-image: linear-gradient(to top, #ffffff, #cecece);
  text-align: center;
  max-width: 550px;
  max-height: 450px;
  border: 5px solid #c9c9c9;
  margin-top: 90px;
  margin-left: 400px;
  padding-bottom: 70px;
  border-radius: 5%;
}

h1 {
  font-family: "Revise", Times, serif;
  font-size: 50px;
}

.texto {
  display: inline;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.tente {
  display: inline;
  position: relative;
  font-family: "Tequilla", Times, serif;
  line-height: 30px;
  font-size: 40px;
}

#botao {
  display: inline;
  position: relative;
  font-family: "Stay", "Times New Roman", Times, serif;
  line-height: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 25px;
  color: white;
  border-radius: 25%;
  border: 0 solid;
  background-color: rgba(255, 12, 12, 0.89);
  box-shadow: inset 0 0 20px rgba(236, 52, 52, 0.89);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#botao:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgb(255, 0, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #000000;
}

@keyframes esqueda_direita {
  0% {
    background-color: transparent;
    left: 100px;
    top: -65px;
  }
  50% {
    background-color: transparent;
    left: 160px;
    top: -65px;
  }
  100% {
    background-color: transparent;
    left: 100px;
    top: -65px;
  }
}

@keyframes baixo_cima {
  0% {
    background-color: transparent;
    left: 265px;
    top: 50px;
  }
  50% {
    background-color: transparent;
    left: 265px;
    top: -10px;
  }
  100% {
    background-color: transparent;
    left: 265px;
    top: 50px;
  }
}

@keyframes direita_esquerda {
  0% {
    background-color: transparent;
    left: 420px;
    top: -120px;
  }
  50% {
    background-color: transparent;
    left: 367px;
    top: -120px;
  }
  100% {
    background-color: transparent;
    left: 420px;
    top: -120px;
  }
}

#seta_esq {
  position: relative;
  left: 100px;
  top: 20px;
  height: 4px;
  width: 4px;
  border: 12px solid;
  border-color: darkcyan darkcyan transparent transparent;
  transform: rotate(45deg);
  animation: esqueda_direita 3s;
  animation-iteration-count: infinite;
}

#seta_esq:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  height: 20px;
  width: 24px;
  background-color: darkcyan;
  transform: rotate(-45deg) translate(2px, 1px);
}

#seta_bix {
  position: relative;
  left: 100px;
  top: 20px;
  height: 4px;
  width: 4px;
  border: 12px solid;
  border-color: darkcyan darkcyan transparent transparent;
  transform: rotate(-45deg);
  animation: baixo_cima 3s;
  animation-iteration-count: infinite;
}

#seta_bix:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  height: 20px;
  width: 24px;
  background-color: darkcyan;
  transform: rotate(-45deg) translate(2px, 1px);
}

#seta_dir {
  position: relative;
  left: 100px;
  top: 20px;
  height: 4px;
  width: 4px;
  border: 12px solid;
  border-color: darkcyan darkcyan transparent transparent;
  transform: rotate(-135deg);
  animation: direita_esquerda 3s;
  animation-iteration-count: infinite;
}

#seta_dir:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  height: 20px;
  width: 24px;
  background-color: darkcyan;
  transform: rotate(-45deg) translate(2px, 1px);
}

.alerta {
  height: 40%px;
}

.git {
  position: relative;
  width: 150px;
  height: 35px;
  border-radius: 30px;
  left: 10%;
  background-color: white;
  border: 1px #000000 solid;
  overflow: hidden;
}

.text1 {
  font-size: 17px;
  font-weight: 700;
  margin-left: 22%;
  color: black;
}

.text2 {
  position: absolute;
  top: 30%;
  left: -80px;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.text2::before{ 
  left: -100px;
  z-index: -1;
  content: '';
  width: 150px;
  height: 50px;

}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s;
}

.icon::before {
  position: absolute;
  left: -100px;
  top: 0;
  z-index: -1;
  content: '';
  width: 150px;
  height: 50px;
  border-radius: 30px;
    margin-top: 0;
  background-color: #000000;
}

.icon::after {
  position: absolute;
  left: 0.5px;
  top: 0.5px;
  z-index: -1;
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
}

.git:hover .icon {
  transform: translateX(97.5px);
  transition: transform 0.5s;
}

.git:hover .text2 {
  transform: translateX(100px);
  transition: transform 0.6s
}

.git :active {
  transform: scale(1.03);
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
