@font-face {
  font-family: "Astrella";
  src: url("fonte/Astrella.otf") format("truetype"), url("fonte/Astrella.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


body {
  overflow: hidden;
  height: 100vh;
  background-color: #1e38fc;
  background-image: linear-gradient(
      45deg,
      transparent 20%,
      #12aafe 25%,
      transparent 25%
    ),
    linear-gradient(-45deg, transparent 20%, #12aafe 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #12aafe 80%, transparent 0),
    radial-gradient(#7612fe 2px, transparent 0);
  background-size: 30px 30px, 30px 30px;
}

.conteiner1 {
  width: 300px;
  height: 400px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  background: whitesmoke;
  border-radius: 5%;
  border: 2px solid slategrey;
  transition: all 0.2s;
  box-shadow: 10px 10px 3px 2px rgba(14, 0, 121, 0.9);
}

.conteiner1:hover {
  box-shadow: -10px 10px 3px -2px rgba(14, 0, 121, 0.9);
}

#Titulo1{
  font-family: 'Astrella', Times, serif;
  text-align: center;
  margin-top: -20px;
  margin-bottom: -30px;
  font-size: 50px;
}

.nota{
  font-size: 25px;
  font-weight: 700;
  margin-left: 4%;
  font-family: 'Times New Roman', Times, serif;
}

.input[type=number] {
margin-left: 4%;
width:90%;
height: 25px;
border: none;
box-sizing: border-box;
border-top:3px solid rgb(183, 181, 181);
border-bottom: 3px solid rgb(183, 181, 181);
-webkit-transition: 0.5s;
transition: 0.5s;
appearance: textfield;
outline: none;
}
.input[type=number]:focus {
border-top:3px solid rgb(93, 93, 93);
border-bottom: 3px solid rgb(93, 93, 93);
}

#botao {
  width: 120px;
  height: 80px;
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 50%;
  background-color: #12aafe;
  color: white;
  border-radius: 10%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  overflow: visible;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

#botao:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#botao:main, #botao:focus {
  user-select: auto;
}

#botao:hover:not(:disabled) {
  filter: brightness(1.1);
}

#botao:disabled {
  cursor: auto;
}

#botao:active:after {
  border-width: 0 0 0px;
}

.git {
  position: relative;
  width: 120px;
  height: 30px;
  border-radius: 30px;
  margin-top: 20px;
  left: 30%;
  background-color: white;
  border: 1px #000000 solid;
  overflow: hidden;
}

.text1 {
  font-size: 17px;
  font-weight: 700;
  margin-left: 22%;
  color: black;
}

.text2 {
  position: absolute;
  top: 30%;
  left: -70px;
  font-weight: 680;
  font-size: 12px;
  color: white;
}

.text2::before{ 
  left: -100px;
  z-index: -1;
  content: '';
  width: 150px;
  height: 30px;

}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s;
}

.icon::before {
  position: absolute;
  left: -100px;
  top: 0;
  z-index: -1;
  content: '';
  width: 120px;
  height: 30px;
  border-radius: 30px;
    margin-top: 0;
  background-color: #000000;
}

.icon::after {
  position: absolute;
  left: 0.5px;
  top: 0.5px;
  z-index: -1;
  content: '';
  width:27px;
  height: 27px;
  border-radius: 100%;
  background-color: white;
}

.git:hover .icon {
  transform: translateX(90.5px);
  transition: transform 0.5s;
}

.git:hover .text2 {
  transform: translateX(85px);
  transition: transform 0.6s
}

.git :active {
  transform: scale(1.03);
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
