@font-face {
  font-family: "Heavy";
  src: url("font/HeavyHeapPg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bigfat";
  src: url("font/BigfatScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cheerful";
  src: url("font/Cheerful.ttf") format("truetype"),url("font/Cheerful.otf") format("opentype");;
  font-weight: normal;
  font-style: normal;
}

body{
    width: auto;
    height: auto;
    background-color: rgb(192, 66, 120);
}
#conteiner{
  width: 75%;
  height: 400px;
  background-color: rgb(180, 200, 128);
  border-radius: 10px;
  margin: auto;
  box-shadow: 15px 15px 30px rgba(255, 255, 255,0.3),
             -15px -15px 30px rgba(19, 19, 19,0.3 );
 }

.conteiner{
  display: inline;
  float: left;
  overflow:auto; 
  border: 5px solid black;
  width: 220px;
  height: 280px;
  margin-top: -30px;
  margin-right: 15px;
  margin-left: 35px;
}

h1{
  text-align: center;
  font-family:'Heavy', Times, serif;
  font-size: 55px;
  letter-spacing: 3px;
}
.circulo{
  position: relative;
  width: 80px;
  height: 85px;
  top:5px;
  left: 4px;
  border-radius: 50%;
  background-color: gray;
  z-index: 1;
  transition: all 0.3s;
}

.imgOlho{
  position: relative;
  top: -88px;
  margin: 0px 35px;
  z-index: 1;
}

p{
  font-family:'Cheerful', Times, serif;
  font-size: 10px;
  text-align: center;
  font-weight: bolder;
}

#sobre{
  margin:8px 63px auto ;
}

#movendo {
  margin:8px 63px auto;
}

#olho_baixo_cima{
    margin: 0px 35px;
}

#baixo_cima{
    margin:8px 63px auto;
}


.log {
  margin-top: -60px;
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
  font-family: 'Cheerful', Times, serif;
}

#log_sobre{
    text-align: center;
    font-size: 18px;
    font-family:'Bigfat', Times, serif;
}
#log_baixo{
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-family:'Bigfat', Times, serif;
}
#log_movendo{
    text-align: center;
    font-size: 18px;
    font-family:'Bigfat', Times, serif;
  }
